<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<div class="card" style="background-color: grey">
  <h1 class="card-header" style="color: white;text-align: center">{{ profile.name }}</h1>
  <div class="card-body">
    <img class="card-img-top" src="{{ profile.images[1].url }}" alt="Card image cap">
  </div>
 <br>
 <a href="https://open.spotify.com/artist/{{ profile.id }}" class="btn btn-primary" style="color: white">Ir al perfil del artista</a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Foto</th>
      <th scope="col">Album</th>
      <th scope="col">Artistas</th>
    </tr>
  </thead>
  <tbody>
    {% set counter = 1 %}
    {% for artista in artistas %}
    <tr>
      <th scope="row">{{ counter }}</th>
       <td scope="col">  <img class="card-img-top" src="{{ artista.images[2].url }}" alt="Card image cap"> </td>
       <td scope="col"> {{ artista.name }}</td>
       <td scope="col"> {{ artista.artists[0].name }}</td>
    </tr>
    {% set counter = counter + 1 %}
    {% endfor %}
  </tbody>
</table>